:root {
  --dark-color: #1f2122;
  --dark-color-2: rgb(167, 167, 167);
  --container-color: #2b3035;

  --blue-color: rgb(67, 100, 245);
  --blue-color-2: #6b66ff;
  --blue-color-unfocus: #4f4bc0;
  --blue-light-color: rgb(117, 142, 255);
  --dark-blue-color: #5b7ae2;

  --font-color: #e7e8ee;
  --font-color-placeholder: #325c8bcb;
  --danger-color: #ff6b6b;
  --warning-color: #ffc46b;
  --success-color: #6bff84;
}

/***** html elements *****/
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--dark-color);
  color: var(--font-color);
}

/***** Flash *****/
.color-success {
  color: var(--success-color);
}
.color-danger {
  color: var(--danger-color);
}
.color-warning {
  color: var(--warning-color);
}

/***** Forms *****/

.input-color {
  background-color: var(--dark-color-2);
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--blue-color-2);
  font-size: 16px;
  padding: 0.75em;
  font-weight: bold;
}

.input-color:focus {
  background-color: var(--dark-color-2);
  color: var(--dark-blue-color);
  outline: none;
  box-shadow: 0px 0px 7px 0px rgb(117, 142, 255);
  font-weight: bold;
}

.input-color::placeholder {
  color: var(--font-color-placeholder);
}

.blue-font {
  color: var(--blue-color);
}

/***** Wrappers  *****/

.container-color {
  background-color: var(--container-color);
  padding: 0 2em 2em 2em;
  border-radius: 0.5em;
  border: 1px solid var(--blue-light-color);
  box-shadow: 0 0 0.2em 0.07em var(--blue-light-color);
}
