{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div
  class="alert alert-dismissible fade show my-3 mt-4"
  role="alert"
  style="
  background-color: var(--container-color);
  color: var(--text-color);
    {% if category == 'success' %}
     border: 1px solid var(--success-color);
     {% elif category == 'danger' %}
     border: 1px solid var(--danger-color);
     {% elif category == 'warning' %}
     border: 1px solid var(--warning-color);
     {% endif %}
  "
>
  {% if category == 'success'%}
  <span class="fw-semibold color-success">{{ message }}</span>
  {% elif category == 'danger' %}
  <span class="color-danger fw-semibold">{{ message }}</span>
  {% elif category == 'warning' %}
  <span class="color-warning fw-semibold">{{ message }}</span>
  {% else %}
  <span>{{ message }}</span>
  {% endif %}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endif %} {% endwith %}
