{% extends "./frontend/base.html" %}
<!-- signup page -->
{% block content %}

<div class="container-color mt-4">
  <div class="row">
    <div class="col">
      <div class="display-5 mt-3 fw-medium blue-font">LOGIN</div>
      <hr class="blue-font mt-2 mb-4" />
    </div>
  </div>
  <div class="row">
    <form method="POST">
      {{form.csrf_token}}

      <div class="mb-3">
        {{form.email(placeholder="Email Address",class='form-control
        input-color')}}
      </div>
      <div class="mb-3">
        {{form.password(placeholder="Password",class='form-control
        input-color')}}
      </div>
      <div class="row">
        <div class="col-6">
          <input
            type="submit"
            value="Login"
            class="btn btn-primary form-control py-2"
          />
        </div>
        <div class="col-6">
          <a href="#" class="btn btn-secondary form-control py-2">Go Back</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
