:root {
  --primary-color: #1e1e1e;
  --secondary-color: #292929;
  --accent-color-1: #ff6b6b;
  --accent-color-2: #6b66ff;
  --accent-color-3: #ffc46b;
  --accent-color-4: #6bff84;
  --background-color: #111111;
  --text-color: #ffffff;
  --link-color: #ff6b6b;
  --button-color: #292929;
  --button-text-color: #ffffff;
  --border-color: #444444;
  --hover-color: #333333;
}

/* main elements */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

/* colors */

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.accent-1 {
  color: var(--accent-color-1);
}

.accent-2 {
  color: var(--accent-color-2);
}

.accent-3 {
  color: var(--accent-color-3);
}

.accent-4 {
  color: var(--accent-color-4);
}

.background {
  background-color: var(--background-color);
}

.text {
  color: var(--text-color);
}

.link {
  color: var(--link-color);
}

.button {
  background-color: var(--button-color);
  color: var(--button-text-color);
}

.border {
  border-color: var(--border-color);
}

.hover {
  background-color: var(--hover-color);
}
