<nav
  class="navbar navbar-expand-lg bg-body-tertiary bg-dark py-3"
  data-bs-theme="dark"
  style="border-bottom: 1px solid var(--blue-light-color)"
>
  <div class="container-fluid">
    <a
      class="navbar-brand ms-2 blue-font fw-bolder"
      href="{{url_for('admin.admin_index')}}"
      >P.M - Admin</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="{{url_for('admin_users.users')}}"
            >User Management</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="{{url_for('games_management.games_management_index')}}"
            >Games</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="{{url_for('games_management.genres_management_index')}}"
            >Genres</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="{{url_for('admin.admin_config')}}"
            >Config</a
          >
        </li>
        <li class="nav-item">
          <form action="{{url_for('users.logout')}}" method="POST">
            <input type="submit" value="Logout" class="nav-link" />
          </form>
        </li>
      </ul>

      <a
        href="{{url_for('pages.index_pages')}}"
        class="btn btn-outline-primary px-3 me-3"
        type="submit"
        >Go to Site</a
      >
    </div>
  </div>
</nav>
